.choose_passangers_passangerBlock {
    width: 960px;
    margin-bottom: 45px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(196, 196, 196, 1);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);

}

.passangers_passangerBlock_line {
    width: 960px;
    height: 0px;
    border: 1px solid rgba(146, 143, 148, 1);
    box-sizing: border-box;
}

.passangers_passangerBlock_title {
    width: 958px;
    height: 107px;
    background: rgba(249, 249, 249, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 35px;
    padding-right: 30px;
}

.passangers_passangerBlock_title_left{
    display: flex;
}

.passangers_passangerBlock_title_collapse {
    width: 32px;
    height: 32px;
    border: 2px solid rgba(146, 143, 148, 1);
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
}

.passangers_passangerBlock_title_text {
    width: 182px;
    height: 37px;
    font-size: 30px;
    font-weight: 400;
    line-height: 35.16px;
    text-align: left;
    color: rgba(41, 41, 41, 1);
}
.passangers_passangerBlock_title_right {
    font-size: 30px;
    cursor: pointer;
}

.passangers_passangerBlock_collapseBlock{
    overflow: hidden;
}

.passangers_passangerBlock_mainInfo {
    width: 960px;
    height: 452px;
    box-sizing: border-box;
}

.passangers_passangerBlock_select {
    width: 280px;
    height: 50px;
    border: 1px solid rgba(146, 143, 148, 1);
    border-radius: 5px;
    margin: 38px 0 0 36px;
    padding-left: 13px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;


}

.passangers_passangerBlock_labelInput {
    width: 100%;
    padding-left: 36px;
    margin-top: 45px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.passangers_passangerBlock_label {
    width: 280px;
    height: 23px;
    margin-right: 25px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    color: rgba(146, 143, 148, 1);
}

.passangers_passangerBlock_input {
    width: 280px;
    height: 50px;
    margin-top: 7px;
    margin-right: 25px;
    border: 1px solid rgba(146, 143, 148, 1);
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
    color: rgba(41, 41, 41, 1);
}

.passangers_passangerBlock_gender {
    width: 480px;
    padding-left: 36px;
    margin-top: 51px;
    box-sizing: border-box;
    display: flex;
}

.passangers_passangerBlock_chooseGender {
    width: 204px;
    height: 50px;
    box-sizing: border-box;
    display: flex;
}

.passangers_passangerBlock_gender_label {
    width: 204px;
    height: 23px;
    margin-right: 35px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    color: rgba(146, 143, 148, 1);
}

.passangers__chooseGender {
    width: 101.15px;
    height: 46px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid rgba(146, 143, 148, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
    line-height: 35.16px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
}

.chooseGender_female {
    transform: rotateY(180deg);
}

.passangerBlock_activeGender {
    background: rgba(255, 168, 0, 1);
}

.passangers_passangerBlock_birthday_input {
    width: 240px;
    height: 50px;
    border: 1px solid rgba(146, 143, 148, 1);
    border-radius: 5px;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
    color: rgba(41, 41, 41, 1);
}

.passangers_passangerBlock_invalid {
    height: 30px;
    display: flex;
    align-items: center;
    margin: 45px 0 0 36px;
}

.passangers_passangerBlock_CheckBox {
    appearance: none;
    width: 28px;
    height: 28px;
    border-radius: 5px;
    border: 1px solid rgba(146, 143, 148, 1);
    cursor: pointer;
    position: relative;
    outline: none;
    transition: background-color 0.3s ease;
} 

.passangers_passangerBlock_CheckBox:checked {
    background-color: rgba(255, 168, 0, 1);
}

.passangers_passangerBlock_invalidText {
    width: 248px;
    height: 28px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: left;
    color: rgba(41, 41, 41, 1);
    display: flex;
    align-items: center;
}

.passangers_passangerBlock_document {
    width: 960px;
    height: 153px;
    box-sizing: border-box;
}

.passangers_passangerBlock_document_labelInput {
    width: 955px;
    padding-left: 36px;
    margin-top: 45px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.passangers_passangerBlock_document_label {
    width: 205px;
    height: 23px;
    margin-right: 25px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    color: rgba(146, 143, 148, 1);
}

.passangers_passangerBlock_document_input {
    width: 205px;
    height: 50px;
    margin-top: 7px;
    margin-right: 25px;
    border: 1px solid rgba(146, 143, 148, 1);
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
    color: rgba(41, 41, 41, 1);
}

.passangers_passangerBlock_nextPassanger {
    width: 960px;
    height: 117px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 35px;
}

.passangers_passangerBlock_nextPassanger_btn {
    width: 303px;
    height: 52px;
    color: rgba(41, 41, 41, 1);
    border: 1px solid rgba(41, 41, 41, 1);
    border-radius: 5px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    text-align: center;
}

.passangers_passangerBlock_addNewPassangerBlock {
    width: 960px;
    height: 97px;
    padding: 0 36px 0 36px;
    box-sizing: border-box;
    border: 1px solid rgba(196, 196, 196, 1);
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.passangers_passangerBlock_addNewPassangerText {
    width: 329px;
    height: 37px;
    font-size: 30px;
    font-weight: 400;
    line-height: 35.16px;
    text-align: left;
    color: rgba(41, 41, 41, 1);
}

.passangers_passangerBlock_addNewPassangerBtn {
    color: rgba(255, 168, 0, 1);
    font-size: 30px;
    font-weight: 400;
    line-height: 35.16px;
    text-align: left;
    cursor: pointer;
}


.passangers__leftBlock__detailsTrip{
    padding-left: 29px;
    padding-top: 43px;
}

.passangers__leftBlock__line {
    width: 360px;
    height: 0px;
    border: 1px solid rgba(229, 229, 229, 1)
}

.passangers__leftBlock__direction-there, .passangers__leftBlock__direction-back{
    padding-left: 68px;
    padding-top: 32px;
    display: flex;
    flex-wrap: wrap;
}

.passangers__leftBlock__passangers {
    padding: 37px 0 63px 32px;
}

.passangers__leftBlock__totalCost {
    padding: 24px 0 0 27px;
}